/* Card container = the flipper */
.project-item {
  width: 240px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

/* Flip the WHOLE div */
.project-item:hover {
  transform: rotateY(180deg);
}

/* Both sides */
.project-item .front,
.project-item .back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 12px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background:#f3f4f6;
  color: rgb(210, 205, 224);
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Back side */
.project-item .back {
  padding: 10px;
  transform: rotateY(180deg);
  background: linear-gradient(135deg,#869283,#788278);
}