/* ===== TABLE ===== */
table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:12px;
  overflow:hidden;
}

td,th{
  padding:14px;
  border-bottom:1px solid #e5e7eb;
  vertical-align: top;
}

tr:hover{
  background:#ecfdf5;
}

.table-skill th{
  text-align: left;
}

.table-skill a {
  text-decoration: none;
}

.table-skill td {
  line-height: 1.6em;
}


/* Make all skill links 3D-flippable */
.table-skill a {
  display: inline-block;
  perspective: 600px; /* needed for 3D flip */
  transform-style: preserve-3d;
  transition: transform 0.6s; /* smooth flip */
}

.table-skill a:hover {
  transform: rotateX(30deg); /* vertical flip */
}

/* Keep the content upright */
.table-skill a > * {
  backface-visibility: hidden;
}
