.video-flex{
  display:flex;
  gap:30px;
  align-items:flex-start;
  margin-top:20px;
}

/* text side */
.cad-text{
  flex:1;
  margin-left: 30px;
  color:#2563eb
}

/* video side */
.cad-video{
  flex:1;
  max-width:420px;
}

.cad-video video{
  width:100%;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
  transition:opacity 0.4s ease;
}

.rubberflow-text{
  flex:1;
  margin-left: 3px;
  color:#000000
}
.rubberflow-video{
  flex:1;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  max-width:180px;
}

.rubberflow-video video{
  width:100%;
  border-radius:30px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
  transition:opacity 0.4s ease;
}

@media (max-width:768px){
  .video-flex{
    flex-direction:column;
  }

  .cad-video{
    max-width:100%;
  }
  .rubberflow-video{
    max-width:50%;
  }
}